Packages
.build
.index-build
.DS_Store
*.xcodeproj
DerivedData/
Package.resolved
.swiftpm
Tests/LinuxMain.swift
.vscode
.bash_history
.cache/
.lldb

# API Docs Generation
generate-package-api-docs.swift
public/
theme-settings.json
