<!DOCTYPE html>
<html>
<head>
	<title>Vapor</title>

	<link rel="stylesheet" href="styles/app.css">
</head>
<body>
	<div class="wrapper">
		<h1 id="logo">Vapor</h1>

		<nav class="main">
			<ul>
				<li>Examples: </li>
				<li><a href="json">JSON</a></li>
				<li><a href="data/5?query=test">Request Data</a></li>
				<li><a href="session">Session</a></li>
			</ul>
		</nav>
	</div>

	<footer class="main">
		<p>Powered by Swift. Built by <a href="http://tanner.xyz">Tanner</a>.</p>
	</footer>
</body>
</html>

