name: test
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request: { types: [opened, reopened, synchronize, ready_for_review] }
  push: { branches: [main] }

jobs:
  test-providers:
    if: ${{ !(github.event.pull_request.draft || false) }}
    strategy:
      fail-fast: false
      matrix:
        provider:
          - vapor/jwt
          - vapor/fluent
          - vapor/leaf
          - vapor/queues
          - vapor/apns
    runs-on: ubuntu-latest
    container: swift:6.2-bookworm
    steps:
      - name: Check out Vapor
        uses: actions/checkout@v5
        with:
          path: vapor
      - name: Check out provider
        uses: actions/checkout@v5
        with:
          repository: ${{ matrix.provider }}
          path: provider
      - name: Use local Vapor
        run: swift package --package-path ./provider edit vapor --path ./vapor
      - name: Run tests
        run: swift test --package-path ./provider

  unit-tests:
    uses: vapor/ci/.github/workflows/run-unit-tests.yml@main
    with:
      with_release_mode_testing: true
      with_tsan: false
      with_musl: true
      with_android: true
      extra_musl_flags: --target Vapor
      ios_xcodebuild_action: ""
      ios_scheme_name: Vapor
    secrets: inherit

  package-traits:
    runs-on: ubuntu-latest
    container: swift:6.2-bookworm
    steps:
      - name: Check out Vapor
        uses: actions/checkout@v5
      - name: Run tests with traits disabled
        run: swift test --disable-default-traits
